@{
    ViewBag.Title = "About";
}
<h2>Affinity</h2>
<h3>Affinity -- Simple task management System</h3>

<p>This is a simple task management system and helps manage admin and managers to add projects and tasks to assign to developers.</p>
