
@{
    ViewBag.Title = "AddANote";
}

<div class="jumbotron">
    <h1>Add a note</h1>
    <p>Note: Adding a note here will let your project manager know about that.</p>
</div>

@using (Html.BeginForm())
{
    @Html.Hidden("taskId", (int)ViewBag.taskId)
    @Html.TextBox("Note")

    <input type="submit" value="add" name="add comment"/>
}