@model Affinity.Models.Task
@{
    ViewBag.Title = "AddComment";
}

<div class="jumbotron">
    <h1>Add Comment on "@Model.Name" Task</h1>
</div>

@using (Html.BeginForm())
{
    @Html.Hidden("id", (int)ViewBag.TaskId)
    <h4>Enter your comment here : </h4>
    @Html.TextBox("commentText")
    <input type="submit" value="Add Comment" name="save"/>
}