@model List<Affinity.Models.Notification>
@{
    ViewBag.Title = "NotificationsPage";
}

<h2>Notifications Page</h2>

<ul>
    @foreach (var notif in Model)
    {
        if (notif.IsWatched == false)
        {
            <li style="list-style:none">
                @Html.ActionLink(notif.NotificationDetails, "Details", "Notifications", new { id = notif.Id }, null) (@Html.ActionLink("Mark as read", "MarkNotificationAsWatched", "ProjectManager", new { notifId = notif.Id }, null))
            </li>
        }
    }
</ul>

