
@{
    ViewBag.Title = "DeleteRole";
}

<div class="jumbotron">
    <h1>Delete Role</h1>
</div>

@using (Html.BeginForm())
{
    <h4>Enter role name to delete: </h4> @Html.TextBox("roleName")
    <input type="submit" name="Delete Role" value="Delete"/>
}