
@{
    ViewBag.Title = "Index";
}

<h2>Admin DashBoard</h2>

<h3>@Html.ActionLink("Show all Users.","AllUsers", "Admin")</h3>

<h3>@Html.ActionLink("Show all Roles in this System", "ShowAllRoles", "Admin")</h3>