
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Admin DashBoard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Show all Users</h2>
        <p>
            Show all the users present in the DB.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("AllUsers", "Admin")>Show All Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show all Roles</h2>
        <p>Show all Roles present in the DB.</p>
        <p><a class="btn btn-default" href=@Url.Action("ShowAllRoles", "Admin")>Show All Roles &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a Role</h2>
        <p>Create a Role to add to the DB.</p>
        <p><a class="btn btn-default" href=@Url.Action("CreateRole", "Admin")>Create a Role &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add User to a Role</h2>
        <p>Add a User to a role by selecting from the list.</p>
        <p><a class="btn btn-default" href=@Url.Action("AddUserToRole", "Admin")>Add User to Role &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Remove User From a Role</h2>
        <p>Remove a user from a role by selecting from list.</p>
        <p><a class="btn btn-default" href=@Url.Action("RemoveUserFromRole", "Admin")>Remove User From Role &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete a Role</h2>
        <p>Enter role to delete from DB.</p>
        <p><a class="btn btn-default" href=@Url.Action("DeleteRole", "Admin")>Delete a Role &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a new Project</h2>
        <p>Will redirect to new project creation page.</p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Projects")>Create a Project &raquo;</a></p>
    </div>
</div>